In [ ]:
print("sai ram")
print("Nishant")

sai ram
Nishant

In [ ]:
print("hello, world")
if 5 > 2 :
  print("five is greater than two")

hello, world
five is greater than two

In [ ]:
a = type (10.01)
print (a)

<class 'float'>

In [ ]:
str(5.4)

'5.4'

In [ ]:
float (69)

69.0

In [ ]:
int (3.45)

3

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
bool(0)

False

In [ ]:
bool(1)

True

In [ ]:
int (False)

0

In [ ]:
float (True)

1.0

In [ ]:
geetam = 19//4
print ("qotient" , geetam)

qotient 4

In [ ]:
geetam = 19%4
print("reminder" , geetam)

reminder 3

In [ ]:
geetam = 19/4
print ("answer" , geetam)

answer 4.75

In [ ]:
name = "ganta geetam"
print (name[5])

In [ ]:
name = "ganta geetam"
print (name[-11])

a

In [ ]:
name[1:7]

'anta g'

In [ ]:
name[::7]

'ge'

In [ ]:
name[::4]

'gae'

In [ ]:
name[0:9:9]

'g'

In [ ]:
print (name + " gdhhrhrh")

ganta geetam gdhhrhrh

In [ ]:
print ("gdgwggd " + name)

gdgwggd ganta geetam

In [ ]:
base = 13
height = 45
area = 1/2*base*height
print(area)

292.5

In [ ]:
name1 = " earth revolves around the sun "
print(name1[6:15])

 revolves

In [ ]:
print(name1[-8:-1])

the sun

In [ ]:
n2 =   "I love eating" 
n3 =  " veggies "
n4 = " fruits"
print(n2 + n3 + "and" + n4)

I love eating veggies and fruits

In [ ]:
number = " 5 "
print(n2 + number + n4 + " everyday")

I love eating 5  fruits everyday

In [ ]:
# The calculates the rate of interest
# a = p + si 
# a = p + (prt/100)
# a - p = prt/100
p = float(input('P = '))
a = float(input('A = ')) 
t = float(input('T = ')) 
r = ((a - p) * 100) / (p * t)
print(r)

P = 4
A = 10
T = 50
3.0

In [ ]:
cost = float(input("enter cost\n"))
paid = float(input("enter paid\n"))
returns = (paid - cost)
print (returns)

enter cost
7
enter paid
10
3.0

In [ ]:
5//(4+5)%4

0

In [ ]:
2**(3*3)

512

chapter-2; exercise=2

In [ ]:
name = " pushpa"
print("hello" + name)

hello pushpa

exercise=3

In [ ]:
h = 9
t = 50
pay = h*t
print(pay)

450

exercise=4

In [ ]:
width = 17
height = 12
w = width//2
print(w)

8

In [ ]:
print(width/2)

8.5

In [ ]:
print(height/3)

4.0

In [ ]:
n = 2 + 3*4
print(n)

14

exercise-5

c = celsius; f = fahrenhiet

In [ ]:
c = 35
f =   (c * 9/5)+ 32
print(f)

95.0

In [ ]:
temperature=float(input("enter fahrenheit\n"))
if temperature>=98.5:
  print("feeling feverish")
else:
  print("normal temperature")

enter fahrenheit
99
feeling feverish

In [ ]:
2 * 3 + 9 / 5

7.8

In [ ]:
2**4

16

In [ ]:
0>1

False

In [ ]:
0<1

True

In [ ]:
# AND operator - only TRUE and TRUE will become TRUE; all others are False
# OR operator - only False and False will become False; all others are True
A = True
B = False
A and B

False

In [ ]:
a ="Python"
print(len(a))

6

In [ ]:
'a' + 'b' + '1'

'ab1'

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
a= "geetam"
print(len(a))

6

In [ ]:
if 4 > 10 :
  print("the first number is greater than the second number")
else :
  print("the second number is greater than the first number")

the second number is greater than the first number

In [ ]:
if (1 > 0) :
  print(1+1)

2

In [ ]:
#marks and grades ; below 40= fail, above 40 & below 80= B, above 80= A
x = float(input("enter your score\n"))
if x <= 40 :
  print("you are fail")
elif x > 40 and x < 80 :
    print("B")
else :
    print("A")

enter your score
88
A

In [ ]:
x = 9
y = 9
if x == y :
  print('Both numbers are equal')
elif (x>y): 
      print('The first number is greater than the second one')
else:
       print("The second number is greater than the first one")

Both numbers are equal

chapter-3; exercise=1

In [ ]:
a = float(input("Enter Hour\n"))
b = float(input("Enter rate\n"))

if(a>40):
  c=(a-40)*1.5*b+(40*b)
else:
  c=a*b  
  
print(c)

Enter Hour
42
Enter rate
10
430.0

exercise=2

In [ ]:
try:
   a = float(input("Enter Hour\n"))
   b = float(input("Enter rate\n"))

   if (a>40):
     c=(a-40)*1.5*b+(40*b)
   else:
     c=a*b   
   print(c)
except:
  print("Please enter numeric input")

Enter Hour
2
Enter rate
2
4.0

exercise=3

In [ ]:
a=float(input("Enter your score\n"))

if(a<0.0 or a>1.0) :
  print("Score is out of range!!")
elif(a>=0.9):
  print("A")
elif(a>=0.8):
  print("B")
elif(a>=0.7):
  print("C")
elif(a>=0.6):
  print("D")      
else:
  print("F")

Enter your score
0.1
F

leap year

In [ ]:
a=float(input('Enter the year\n'))
if (a % 4 == 0 and a % 100 != 0 or a % 400 == 0):
  print('The year is leap year')
else:
  print('The year is not a leap year')

Enter the year
1566
The year is not a leap year

**Functions**

In [ ]:
print("You are doing good work, Adriana!")
print("Thank you very much for your efforts on this project.")

print("\nYou are doing good work, Billy!")
print("Thank you very much for your efforts on this project.")

print("\nYou are doing good work, Caroline!")
print("Thank you very much for your efforts on this project.")

You are doing good work, Adriana!
Thank you very much for your efforts on this project.

You are doing good work, Billy!
Thank you very much for your efforts on this project.

You are doing good work, Caroline!
Thank you very much for your efforts on this project.

In [ ]:
def thank_you(name):
    # This function prints a two-line personalized thank you message.
    print("\nYou are doing good work, %s!" % name)
    print("Thank you very much for your efforts on this project.")
    
thank_you('Adriana')
thank_you('Billy')
thank_you('Caroline')

You are doing good work, Adriana!
Thank you very much for your efforts on this project.

You are doing good work, Billy!
Thank you very much for your efforts on this project.

You are doing good work, Caroline!
Thank you very much for your efforts on this project.

In [ ]:
def thankyou(hhg):
 print("\nYou are doing good work, %s!" % hhg)

thankyou('geetu')

You are doing good work, geetu!

In [ ]:
thankyou('geetu')

def thankyou(abc):
 print("\ndong good, %s!" % abc)

You are doing good work, geetu!

**list**

In [ ]:
list = [0,1,2,3,4,5]
list [0:]

[0, 1, 2, 3, 4, 5]

In [ ]:
List = [0,1,2,"fgfg",4,5]
List[0:4]

[0, 1, 2, 'fgfg']

In [ ]:
List[1:6]

[1, 2, 'fgfg', 4, 5]

In [ ]:
List[:-1]

[0, 1, 2, 'fgfg', 4]

In [ ]:
List[-5:-2]

[1, 2, 'fgfg']

In [ ]:
List[0:9]
# after : depits count : ,

[0, 1, 2, 'fgfg', 4, 5]

In [ ]:
List[-2]

4

In [ ]:
"malayalam"[::-1]
x="malayalam"
#y=reversed(x)
y="".join(reversed(x))
print(y)
if x==y:
  print("Yes. It is palindrome")
else:
  print("No. It is not a palindrome")

malayalam
Yes. It is palindrome

In [ ]:
"12022021"[::6]
x="12022021"
#y=reversed(x)
y="".join(reversed(x))
print(y)
if x==y:
  print("Yes. It is palindrome")
else:
  print("No. It is not a palindrome")

12022021
Yes. It is palindrome

In [ ]:
price1 = float(input('Enter the 1 price : '))
piece1 = float(input('Enter the 1 box : '))
price2 = float(input('Enter the 2 price : '))
piece2 = float(input('Enter the 2 box : '))
 
elasticity = (piece2 - piece1) / (price2 - price1)
print(elasticity)
if (elasticity < 1) :
 print("inelasatic")
elif (elasticity > 1) :
 print ("elastc")

Enter the 1 price : 10
Enter the 1 box : 5
Enter the 2 price : 15
Enter the 2 box : 10
1.0

In [ ]:
def elasticity():
  try:  
    p1 = float(input("Please enter the org price "))
    p2 = float (input("Please enter new price "))
    a1 = float(input("Please enter old amount "))
    a2 = float(input("Please enter new amount "))
    elasticity = (a2-a1)/(p2-p1)
    if elasticity == 0:
      return ("Demand is totally inelastic")
    elif elasticity < 0 :
      return ("Demand is inelastic")
    elif elasticity == 1 :
      return ("Demand is unit elastic")
    elif elasticity > 1:
      return("Demand is elastic") 
  except ZeroDivisionError:
    return ("Demand is infinite")
 
print(elasticity())

Please enter the org price 10
Please enter new price 15
Please enter old amount 10
Please enter new amount 15
Demand is unit elastic

In [ ]:
def elast(price1,amount1,price2,amount2):
  elasticity = (amount2 - amount1) / (price2 - price1)
  return (elasticity)
  
def scale_elast(elasticity):
  if elasticity == 0 : 
    return 'Perfectly Inelastic'
  elif elasticity < 1 :
    return 'Relatively inelastic'
  elif elasticity == 1 : 
    return 'Unit Elastic'
  elif elasticity > 1 : 
    return 'Relatively Elastic'

price1 = float(input('Enter the prior price : '))
amount1 = float(input('Enter the prior amount : '))
price2 = float(input('Enter the latter price : '))
amount2 = float(input('Enter the latter amount : '))

elasticity = elast(price1,amount1,price2,amount2)
print('Elasticity = ',elasticity)

character = scale_elast(elasticity)
print('Character of product = ', character)

Enter the prior price : 6
Enter the prior amount : 76
Enter the latter price : 10
Enter the latter amount : 70
Elasticity =  -1.5
Character of product =  Relatively inelastic

while loop

In [ ]:
i = 1
while i < 6:
  print(i)
# increment
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 11:
  print(i)
  i += 0.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0
10.5

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
while True:
  line = input('> ')
  if line == 'done':
    break
  print(line)
print('Done!')

> geetam
geetam
> karthik
karthik
> sai
sai
> nishant
nishant
> done
Done!

for loop

In [ ]:
dates = [1982,1980,1973]
for year in dates:  
    print(year)

1982
1980
1973

In [ ]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "0123456789":
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
snacks = ["Coke", "Chocolates", "Noodles", "Oats", "Chaat","Momo",]
for snack in snacks:
  
  if snack[0] == "C":
    print(snack)
  else:
    pass

Coke
Chocolates
Chaat

In [ ]:
snacks = ["Coke", "Chocolates", "Noodles", "Oats", "Chaat","Momo", "Nuts"]
for snack in snacks:
  
  if snack[0] == "N":
    print(snack)
  else:
    pass

Noodles
Nuts

In [ ]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [ ]:
# Use the range

range(8)

range(0, 8)

pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Create and populate a 5x2 NumPy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['temperature', 'activity']

# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [ ]:
# Create and populate a 5x3 NumPy array.

my_class_data = np.array([[214503, 'chaitanya', 75], [214506, 'sai', 78], [214514, 'veda', 89], [214518, 'girish', 94], [214522, 'karthik', 95]])

my_classcolumn_names = ['Reg_no', 'Name', 'Marks']

my_class_dataframe = pd.DataFrame(data=my_class_data, columns=my_classcolumn_names)

print(my_class_dataframe)

   Reg_no       Name Marks
0  214503  chaitanya    75
1  214506        sai    78
2  214514       veda    89
3  214518     girish    94
4  214522    karthik    95

**chapter-4 exercises**

In [ ]:
def fred():
  print("Zap")
  
def jane():
  print("ABC")
jane()
fred()
jane()

ABC
Zap
ABC

In [ ]:
def wages(Hours,rate):
  if(Hours>40):
    pay=(Hours-40)*1.5*rate+(40*rate)
  else:
    pay=Hours*rate  
  return pay

Hours = float(input("Enter Hour\n"))
rate = float(input("Enter rate\n"))
pay = wages(Hours , rate)  
print( 'pay :',pay)

Enter Hour
75
Enter rate
10
pay : 925.0

In [ ]:
def computegrade(score):
  if(score<0.0 or score>1.0) :
    return("Score is out of range!!")
  elif(score>=0.9):
    return("A")
  elif(score>=0.8):
    return("B")
  elif(score>=0.7):
    return("C")
  elif(score>=0.6):
    return("D")      
  else:
    return("F")
try:
  score=float(input("Enter your score\n"))
  print(computegrade(score))
except Exception :
  print('Enter a number!!!!!')

Enter your score
0.9
A

**chapter-5 exercises**

In [ ]:
count=0
total=0
while True :
  value=input('Enter the number\n')
  if (value=='complete'):
    break
  try:
    value1=float(value)
  except:
    print('Invalid input')
  total=total+value1
  count=count+1
print(total,count,total/count)

Enter the number
1
Enter the number
2
Enter the number
3
Enter the number
complete
6.0 3 2.0

In [ ]:
count=0
list=[]
while True :
  element=input('Enter the number\n')
  if (element=='complete'):
    break
  try:
    value1=float(element)
    list.append(value1)
    
  except:
    print('Invalid input')

  if count==0 :
    min_val=value1
    max_val=value1
  elif value1<min_val:
    min_val=value1
  elif value1>max_val:
    max_val=value1

  count=count+1
print('The list of ements are :',list)
print(min_val , max_val)

Enter the number
45
Enter the number
33
Enter the number
22
Enter the number
complete
The list of ements are : [45.0, 33.0, 22.0]
22.0 45.0

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
data = pd.read_csv("Shark_Tank_India_S1.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#reading the data
data

,episode_number,startup_number,brand_name,description,deal_offered,startup_ask_amount_lakhs,startup_ask_percentage,startup_ask_valuation,deal_amount_lakhs,deal_equity,...,ghazal_invested,namita_present,namita_invested,peyush_present,peyush_invested,vineeta_present,vineeta_invested,sharks_offering,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.00,1000.00,75.0,16.00,...,0,1,0,0,0,1,1,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.00,266.67,40.0,50.00,...,0,1,0,0,0,1,1,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.00,250.00,25.0,30.00,...,0,1,0,0,0,1,1,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.00,7000.00,70.0,2.75,...,0,1,0,0,0,1,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.00,1000.00,0.0,0.00,...,0,1,0,0,0,1,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.50,4000.00,0.0,0.00,...,0,1,0,1,0,1,0,0,0.0,0.000000
117,36,118,Sneakare,Shoe care and storage solutions,1,20.0,5.00,400.00,21.0,12.00,...,0,1,1,1,0,1,1,3,7.0,4.000000
118,36,119,French Crown,Clothing Industry,0,150.0,0.33,45000.00,0.0,0.00,...,0,1,0,1,0,1,0,0,0.0,0.000000
119,36,120,Store My Goods,Storage solutions,1,100.0,1.75,5714.00,100.0,4.00,...,0,1,1,1,1,1,0,2,50.0,2.000000
120,36,121,Devnagri,Translation platform,0,100.0,1.00,10000.00,0.0,0.00,...,0,1,0,1,0,1,0,0,0.0,0.000000

In [ ]:
#displays the top 5 entries in the dataset
data.head ()

,episode_number,startup_number,brand_name,description,deal_offered,startup_ask_amount_lakhs,startup_ask_percentage,startup_ask_valuation,deal_amount_lakhs,deal_equity,...,ghazal_invested,namita_present,namita_invested,peyush_present,peyush_invested,vineeta_present,vineeta_invested,sharks_offering,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,0,1,0,0,0,1,1,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,0,1,0,0,0,1,1,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,0,1,1,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,0,1,0,0,0,1,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,1,0,0,0,1,0,0,0.0,0.000000

In [ ]:
data.tail()

,episode_number,startup_number,brand_name,description,deal_offered,startup_ask_amount_lakhs,startup_ask_percentage,startup_ask_valuation,deal_amount_lakhs,deal_equity,...,ghazal_invested,namita_present,namita_invested,peyush_present,peyush_invested,vineeta_present,vineeta_invested,sharks_offering,amount_per_shark,equity_per_shark
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.50,4000.0,0.0,0.0,...,0,1,0,1,0,1,0,0,0.0,0.0
117,36,118,Sneakare,Shoe care and storage solutions,1,20.0,5.00,400.0,21.0,12.0,...,0,1,1,1,0,1,1,3,7.0,4.0
118,36,119,French Crown,Clothing Industry,0,150.0,0.33,45000.0,0.0,0.0,...,0,1,0,1,0,1,0,0,0.0,0.0
119,36,120,Store My Goods,Storage solutions,1,100.0,1.75,5714.0,100.0,4.0,...,0,1,1,1,1,1,0,2,50.0,2.0
120,36,121,Devnagri,Translation platform,0,100.0,1.00,10000.0,0.0,0.0,...,0,1,0,1,0,1,0,0,0.0,0.0

In [ ]:
data.shape

(121, 32)

In [ ]:
data.columns

Index(['episode_number', 'startup_number', 'brand_name', 'description',
       'deal_offered', 'startup_ask_amount_lakhs', 'startup_ask_percentage',
       'startup_ask_valuation', 'deal_amount_lakhs', 'deal_equity',
       'deal_valuation', 'loan_element_present', 'loan_amount',
       'rannvijay_present', 'abish_present', 'aman_present', 'aman_invested',
       'anupam_present', 'anupam_invested', 'ashneer_present',
       'ashneer_invested', 'ghazal_present', 'ghazal_invested',
       'namita_present', 'namita_invested', 'peyush_present',
       'peyush_invested', 'vineeta_present', 'vineeta_invested',
       'sharks_offering', 'amount_per_shark', 'equity_per_shark'],
      dtype='object')

dictionaries

In [ ]:
eng2sp = dict()
print(eng2sp)
eng2sp['one'] = 'uno'
print(eng2sp)

{}
{'one': 'uno'}

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{(0, 1): 6,
 'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5}

In [ ]:
Dict["key1"]

1

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6

In [ ]:
len(eng2sp)

1

lists in python

### **exercise8.4**
list item

In [ ]:
words =[]
from google.colab import drive
drive.mount('/content/drive', force_remount=1) 
fhand = open('romeo.txt.txt' , 'r')
for line in  fhand :
 for word in line.split(' '):
    if word not in words :
        words.append(word)
print(sorted(words))
#not in order

Mounted at /content/drive
['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks\n', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon\n', 'pale', 'sick', 'soft', 'sun', 'sun\n', 'the', 'through', 'what', 'window', 'with', 'yonder']

## **exercise 8.5**

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=1)
data = input("Enter the name of the file you want to be processed")

email_data = open(data).read()
words = email_data.split()
i = 0
count=0
length = len(words)

while i < length:
    if words[i] == "From":
      #new_word=words[i]
      count +=1
    i=i+1
print("There were" , count ,"  lines in the file which starts with the word  from")

Mounted at /content/drive
Enter the name of the file you want to be processedmbox.txt
There were 5394   lines in the file which starts with the word  from

## exercise **8.6**

In [ ]:
my_nums = []

while True:
  a = input("Enter a number:")
  if a == 'done' :
    break
  try:
    val = float(a)
  except:
    print("invalid input")
    continue
  my_nums.append(val)
 

print(min(my_nums) )
print(max(my_nums))

Enter a number:654
Enter a number:420
Enter a number:69
Enter a number:2
Enter a number:done
2.0
654.0

# **dictionary**

exercise 9.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=1)
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
days = dict()
words = email_data.split()

i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        days[words[i+2]] = days.get(words[i+2],0) + 1
    i = i + 1

print(days)
#howmNY mails on particular day

Mounted at /content/drive
Enter the name of the file you want to be processedromeo.txt.txt
{}

exercise 9.3

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=1)
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
sender = dict()
#days = dict()
words = email_data.split()

i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        #days[words[i+2]] = days.get(words[i+2],0) + 1
        sender[words[i+1]] = sender.get(words[i+1],0) + 1
    i = i + 1

#print(days)
print(sender)

Mounted at /content/drive
Enter the name of the file you want to be processedmbox-short.txt
{'stephen.marquard@uct.ac.za': 2, 'louis@media.berkeley.edu': 3, 'zqian@umich.edu': 4, 'rjlowe@iupui.edu': 2, 'cwen@iupui.edu': 5, 'gsilver@umich.edu': 3, 'wagnermr@iupui.edu': 1, 'antranig@caret.cam.ac.uk': 1, 'gopal.ramasammycook@gmail.com': 1, 'david.horwitz@uct.ac.za': 4, 'ray@media.berkeley.edu': 1}

exercise 9.4

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=1)
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
domains = dict()

words = email_data.split()

i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        emails=words[i+1]
        domain=emails.split('@')
        domains[domain[1]]=domains.get(domain[1],0)+1
    i = i + 1


print(domains)

Mounted at /content/drive
Enter the name of the file you want to be processedmbox-short.txt
{'uct.ac.za': 6, 'media.berkeley.edu': 4, 'umich.edu': 7, 'iupui.edu': 8, 'caret.cam.ac.uk': 1, 'gmail.com': 1}

exercise 9.5

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=1)
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
sender = dict()
#days = dict()
words = email_data.split()

i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        #days[words[i+2]] = days.get(words[i+2],0) + 1
        sender[words[i+1]] = sender.get(words[i+1],0) + 1
    i=i+1
#print(sender)    
max_address = None
max_emails = 0
for k in sender:
    if sender[k] > max_emails:
      max_address = k
      max_emails = sender[k]

#print(days)
print(max_address,max_emails)

Mounted at /content/drive
Enter the name of the file you want to be processedromeo.txt.txt
None 0

## **tuples**

In [ ]:
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
sender = dict()
#days = dict()
words = email_data.split()

i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        #days[words[i+2]] = days.get(words[i+2],0) + 1
        sender[words[i+1]] = sender.get(words[i+1],0) + 1
    i = i + 1

#print(days)
#print(sender)

lst=[]

for key,value in sender.items():#creates a list of dictnary;s (key,value) pair in tuple pairs
  lst.append((value,key))
  
lst.sort(reverse=True)
print(lst[0])

Enter the name of the file you want to be processedmbox.txt
(585, 'zqian@umich.edu')

In [ ]:
data = input("Enter the name of the file you want to be processed")
email_data = open(data).read()
hours_of_day = dict()
#days = dict()
words = email_data.split()
i = 0
length = len(words)

while i < length:
    if words[i] == "From":
        #days[words[i+2]] = days.get(words[i+2],0) + 1
        #sender[words[i+1]] = sender.get(words[i+1],0) + 1
        time=words[i+5]
        time = time.split(":")
        hours_of_day[time[0]] = hours_of_day.get(time[0],0) + 1
    i = i + 1
#print(hours_of_day)
lst=[]

for key,value in hours_of_day.items():#creates a list of dictnary;s (key,value) pair in tuple pairs
  lst.append((key,value))
  
lst.sort()
#print(lst)
for t in lst :
  print(t[0],t[1])

Enter the name of the file you want to be processedmbox.txt
00 69
01 30
02 33
03 57
04 69
05 30
06 135
07 126
08 216
09 498
10 594
11 462
12 324
13 342
14 450
15 456
16 543
17 291
18 174
19 138
20 108
21 108
22 84
23 54
This 3